ejercicio1.json
[
    {
        "id": "54860fe1dc44bd5d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "42e6b9662a89625d",
        "type": "mqtt in",
        "z": "54860fe1dc44bd5d",
        "name": "",
        "topic": "iot/temperatura",
        "qos": "2",
        "datatype": "utf8",
        "broker": "e051a062805e7ea3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 200,
        "wires": [
            [
                "ad05ee6b530c7ee7",
                "4cc88a31b20e2e94",
                "f83b413dc1e48371"
            ]
        ]
    },
    {
        "id": "ad05ee6b530c7ee7",
        "type": "function",
        "z": "54860fe1dc44bd5d",
        "name": "function 1",
        "func": "if (msg.topic === \"iot/temperatura\" && isNaN(msg.payload)) {\n    msg.topic = \"INSERT INTO tbl_temperatura(temperatura,descripcion)\"\n        + \"VALUES(\" + msg.payload + \", 'Insercion desde MQTT')\";\n} else {\n    msg.topic = \"\";\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 140,
        "wires": [
            [
                "45893e883149e2c1"
            ]
        ]
    },
    {
        "id": "4cc88a31b20e2e94",
        "type": "ui_gauge",
        "z": "54860fe1dc44bd5d",
        "name": "",
        "group": "b9354e9161db9f74",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "C",
        "format": "{{value}} *C",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 260,
        "wires": []
    },
    {
        "id": "45893e883149e2c1",
        "type": "mysql-r2",
        "z": "54860fe1dc44bd5d",
        "name": "",
        "host": "localhost",
        "database": "",
        "username": "",
        "password": "",
        "sql": "",
        "port": "3306",
        "pooling": false,
        "waitForConnections": true,
        "connectionLimit": "10",
        "queueTimeout": "10000",
        "x": 700,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f83b413dc1e48371",
        "type": "ui_chart",
        "z": "54860fe1dc44bd5d",
        "name": "",
        "group": "b9354e9161db9f74",
        "order": 1,
        "width": "6",
        "height": "4",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "335b02d4dd5e0f14",
        "type": "mqtt in",
        "z": "54860fe1dc44bd5d",
        "name": "",
        "topic": "iot/humedad",
        "qos": "2",
        "datatype": "utf8",
        "broker": "e051a062805e7ea3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 400,
        "wires": [
            [
                "f83b413dc1e48371",
                "62d867dc788b747f"
            ]
        ]
    },
    {
        "id": "62d867dc788b747f",
        "type": "ui_gauge",
        "z": "54860fe1dc44bd5d",
        "name": "",
        "group": "b9354e9161db9f74",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}} *%",
        "min": 0,
        "max": "100",
        "colors": [
            "#bdc016",
            "#7cd043",
            "#2083d9"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 480,
        "y": 400,
        "wires": []
    },
    {
        "id": "2caea4878df5fdd3",
        "type": "comment",
        "z": "54860fe1dc44bd5d",
        "name": "GDS0551",
        "info": "# Juan Jose Villegas Gonzalez\n#1222100509",
        "x": 520,
        "y": 60,
        "wires": []
    },
    {
        "id": "e051a062805e7ea3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.31.1.241",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b9354e9161db9f74",
        "type": "ui_group",
        "name": "Datos",
        "tab": "1968cbb9ea238386",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1968cbb9ea238386",
        "type": "ui_tab",
        "name": "IoT",
        "icon": "flare",
        "disabled": false,
        "hidden": false
    }
]